<!doctype html>
<html lang="en">
  <head>

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title>Ordens de serviço</title>
  </head>
  <body>
    <div class="container mt-4">
        <h2>Ordens de serviço</h2>
        <p>{{ activityList?.activityType }}</p>
        <div class="accordion" id="accordionExample">
          <div *ngFor="let blocos of activityList?.ul_os_json; let i = index">
            <p>{{ blocos |json }}</p>
            <!--<div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+i" aria-expanded="false" [attr.aria-controls]="'collapseOne'+i">
                  {{ blocos |json }} <span class="ml-5" style="margin: auto;">[{{completeActivities(blocos.ordenServicio) }}/ {{blocos.ordenServicio.length }}]</span>
                </button>
              </h2>
              <div [id]="'collapseOne'+i" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">
                      <thead class="text-white" style="background: #3a9aea;">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Local</th>
                          <th scope="col">Actividade</th>
                          <th scope="col">Ações</th>
                        </tr>
                      </thead>
                      <tbody style="border-top: none;">
                        <tr *ngFor="let activities of blocos.ordenServicio">
                          <td>
                              <span *ngIf="activities.activityStatus == 'finalized'; else noFinalizada" class="badge rounded-pill bg-light text-success">
                                  <span class="material-icons">done</span>
                              </span>
                              <ng-template #noFinalizada>
                                <span  class="badge rounded-pill bg-light text-danger">
                                  <span class="material-icons">pending_actions</span>
                                </span>
                            </ng-template>
                          </td>
                          <td>{{ activities.ul_unidade }}</td>
                          <td>{{ activities.activityType }}</td>
                          <td><a type="button" class="btn btn-primary" routerLink="forms">Carga</a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>-->
          </div>
        </div>
    </div>
  </body>

</html>

